*{

    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(219, 219, 219);
}


.container {
        width: min(90vw, 800px);
        margin: auto;

        margin-top: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 2em;

       
        border-radius: 3px;

        padding: 20px;
        box-shadow: inset 1em 1em 1em rgba(31, 31, 31, 0), 0 0 1em rgb(129, 129, 129);
        font-family: 'Roboto Condensed', sans-serif;

    }

   